@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Magilio";
  src: url("../assets/fonts/magilio.ttf") format("truetype");
}

/* Global Styles */

:root {
  --background: #f2ebe2;
  --secondary: #a76e4f;
  --olive-800: #414535;
  --cream-100: #f2ebe2;
  --cream-200: #e4d5c4;
  --magilio: "Magilio", serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background);
  color: var(--olive-800);
  font-size: 16px;
  line-height: 1.5;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: "Magilio", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

header {
  padding: 0.782rem 0;
  background-color: var(--cream-100);
  border-bottom: 1px solid var(--cream-200);
  max-height: 96px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    ul {
      display: flex;
      gap: 2.5rem;
      align-items: center;

      li {
        a {
          color: var(--olive-800);
          font-weight: 500;
          font-size: clamp(1rem, 2.5vw, 1.25rem);
        }
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--olive-800);
  font-size: 1.5rem;
}

.section_heading {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-family: var(--magilio);
  font-weight: 400;
}

/* hero section start  */

#hero {
  position: relative;
  padding: 256px 0;
}
.for-hero-container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 1rem;
}
.hero_img_div {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.top-leaf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: auto;
}
.bottom-tree {
  position: absolute;
  bottom: 0;
  left: 30%;
  z-index: -1;
}

.hero_img_container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.hero_wapper {
  display: flex;
  align-items: centers;
}
.sm-hero-avatar {
  display: none;
}
.hero_left {
  max-width: 584px;
}
.hero_heading {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  line-height: 1.2;
  font-family: var(--magilio);
  font-weight: 400;
  color: var(--olive-800);
  margin-bottom: 1.5rem;
  margin-bottom: 3rem;
}
.hero_btns {
  display: flex;
  gap: 8px;
}
.hero_btn1 {
  height: 62px;
  padding: 0px 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--cream-100);
  background: var(--olive-800);
  border-radius: 999px;
}
.hero_btn2 {
  height: 62px;
  padding: 0px 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--olive-800);
  border: 1px solid var(--olive-800);
  border-radius: 999px;
}
/* hero section end */

/* about section start */
#about {
  position: relative;
  padding-top: 128px;
  background: var(--olive-800);
}
.rainbow {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
}

.left_top_shape {
  position: absolute;
  top: 0;
  left: 0;
}
.right_top_shape {
  position: absolute;
  top: 0;
  right: 0;
}
.right_bottom_shape {
  position: absolute;
  right: 0;
  bottom: 0;
}
.about_wrapper {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.about_left {
  width: 50%;
  z-index: 9;
  background-size: cover;
  object-fit: cover;
  margin-bottom: -6px;
  img {
    object-fit: cover;
    width: 100%;
  }
}
.about_right {
  width: 50%;
  z-index: 9999;
  h2 {
    color: var(--cream-100);
    margin-bottom: 2rem;
  }
}
.about_sub {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  color: var(--cream-100);
  font-weight: 500;
  padding-bottom: 2rem;
}

.about_text1 {
  font-size: clamp(1rem, 0.875rem + 0.75vw, 1.125rem);
  color: var(--cream-200);
  margin-bottom: 2rem;
}

.about_text2 {
  font-size: clamp(1rem, 0.875rem + 0.85vw, 1.125rem);
  color: var(--cream-200);
}

/* about section end */

/* portfolio section start */
#portfolio {
  padding: 8rem 0;
  h2 {
    margin-bottom: 3rem;
    line-height: 0;
  }
}
.portfolios_wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 1rem;
}
.portfolio_left {
  width: 50%;
}
.portfolio_right {
  width: 50%;
}
.portfolios_card {
  width: 100%;
  margin-bottom: 3rem;
}
.portfolios_card_img_div {
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 48px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  img {
    width: 100%;
  }
}
.portfolios_card_heading {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  font-weight: 700;
  line-height: 100%;
  color: var(--olive-800);
  margin-bottom: 0.75rem;
  line-height: 0.8;
}

/* portfolio section end */

/* work section start */
#work {
  margin-bottom: -156px;
  position: relative;
  z-index: 999;
  overflow: hidden;
}

.work_wapper {
  position: relative;
  display: flex;
  align-items: start;
  gap: 5%;
  padding: 4rem;
  border-radius: 5rem;
  background: var(--secondary);
}
.work-bottom-leaf {
  position: absolute;
  bottom: 0;
  left: 200px;
}
.work-top-leaf {
  position: absolute;
  top: 0;
  right: 0;
}
.work_left {
  width: 40%;
}
.work_heading {
  font-family: var(--magilio);
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  max-width: 220px;
  color: #f2ebe2;
}

.number_email_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.work_right {
  width: 55%;
}
.input {
  width: 100%;
  color: var(--cream-100);
  border: 1px solid var(--cream-100);
  display: inline-block;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 17px;
  font-size: 18px;
  background-color: #a76e4f;
  position: relative;
  z-index: 1;

  input {
    height: 48px;
    width: 100%;
    outline: none;
    border: none;
    color: #f2ebe2;
    padding: 0px 8px;
    background: none;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    height: 80px;
    outline: none;
    border: none;
    color: #f2ebe2;
    padding: 16px 8px 8px;
    resize: none;
    font-size: 16px;
    background: none;
    &:focus {
      outline: none;
    }
  }

  span {
    padding: 0 1px;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    background: var(--secondary);
  }
}

.submit-button {
  margin-top: 10px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
  background-color: #f2ebe2;
  border-radius: 999px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: #414535;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #dbd7d1;
}
/* work section end */

/* Footer section start */
#footer {
  background-color: #414535;
  padding: 248px 0px 64px 0px;
}
.footer-main-div {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.address-and-contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.address-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.address-text {
  font-family: var(--magilio);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #e4d5c4;
}
.address-des {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  max-width: 384px;
  color: #e4d5c4;
}
.address-des a {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  max-width: 384px;
  color: #e4d5c4;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar_menu {
  display: none;
}
/* responsive from under 1024px */
@media (max-width: 1023.99px) {
  .nav_links {
    display: none;
  }
  .mobile_menu {
    display: block;
  }

  /* Sidebar Styles */
  .sidebar_menu {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #f2ebe2;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
  }
  .sidebar-header {
    height: 55px;
    border-bottom: 1px solid #e4d5c4;
    padding: 20px;
  }
  .sidebar_menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 16px 16px 16px 24px;
  }

  .sidebar_menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
  }

  .sidebar_menu.active {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 90;
  }

  /* hero section start */
  #hero {
    position: relative;
    padding: 4rem 0 25rem 0;
  }
  .hero_left {
    max-width: 584px;
    padding: 0px 16px;
  }
  /* hero section end */

  /* about section start */
  #about {
    padding-top: 4rem;
    overflow: hidden;
  }
  .about_wrapper {
    display: flex;
    align-items: end;
    gap: 1rem;
  }
  .about_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .about_right {
    padding-bottom: 4rem;
  }
  .rainbow {
    display: none;
  }
  /* about section end */

  /* My Portfolios section start */
  #portfolios {
    padding: 4rem 0;
  }
  .portfolio_left {
    width: 100%;
  }
  .portfolio_right {
    display: none;
  }
  /* My Portfolios section end */

  .address-and-contact {
    gap: 8px;
  }
  .footer-main-div {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  /* hero start */

  #hero {
    padding: 64px 0px 0px 0px;
  }
  .for-hero-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero_wapper {
    flex-direction: column;
  }
  .hero_heading {
    font-size: 40px;
    line-height: 100%;
  }
  .hero_img_container {
    display: none;
  }
  .hero_btn1 {
    height: 40px;
    font-size: 16px;
    padding: 0px 24px;
  }
  .hero_btn2 {
    height: 40px;
    font-size: 16px;
    padding: 0px 24px;
  }
  .top-leaf img {
    height: 107px;
  }

  .sm-hero-avatar {
    display: block;
  }
  .bottom-tree {
    display: none;
  }
  .sm-hero-avatar img {
    width: 100%;

    object-position: center;
    object-fit: cover;
  }
  /* hero End */

  /* about start */
  .about_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
  .about_left {
    width: 100%;
  }
  .about_right {
    width: 100%;
    h2 {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
  .about_sub {
    padding-bottom: 24px;
    font-size: 20px;
    line-height: 140%;
  }
  .about_text1 {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 140%;
  }
  .about_text2 {
    font-size: 16px;
    line-height: 140%;
  }
  .left_top_shape img {
    width: 90px;
  }
  .right_top_shape img {
    width: 80px;
  }
  .right_bottom_shape img {
    width: 95px;
  }
  /* about end */
  /* portfolios start */
  .portfolios_card {
    margin-bottom: 24px;
  }
  .portfolios_card_img_div {
    margin-bottom: 12px;
    border-radius: 24px;
  }
  .portfolios_card_heading {
    line-height: 100%;
    font-size: 20px;
  }
  /* portfolios end */
  /* work start */
  #work {
    margin-bottom: -196px;
  }
  .work_wapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 47px;
    padding: 32px 16px 16px 16px;
    overflow: hidden;
  }
  .work_heading {
    max-width: max-content;
    font-size: 32px;
  }
  .work_left {
    width: 100%;
  }
  .work_right {
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .number_email_input {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .submit-button {
    height: 44px;
    padding: 12px 24px;
    font-size: 16px;
  }
  /* work end */

  .footer-main-div {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 48px;
  }
  .address-and-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
}
